.project-hero {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 0px 48px 0px;
  overflow: visible;
  flex-wrap: nowrap;
}

.project-row {
  width: 100%;
  height: min-content;
}

.project-hero h1 {
  font-size: 52px;
  color: #e6e6e6;
  line-height: 0.4;
}

.react-tabs{
  margin-top: 100px;
}

.react-tabs__tab-list{
  display: flex;
  column-gap: 25px;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: #fff;
}

.react-tabs__tab {
  font-size: 24px;
}

.Projects {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  justify-content: center;
  grid-auto-rows: min-content;
  padding-top: 37px;
  gap: 25px;
}

@media screen and (max-width: 717px) {
  .Projects{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
